$bgColor: white;
$fontColor: gray;
$borderColor: gray;

.checkbox {
  width: 120px;
  height: 20px;
  background-color: $bgColor;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: solid 1px $borderColor;
  color: $fontColor;

  .toggle {
    width: 60px;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    left: 0;
    bottom: 0;
    cursor: pointer;
    transition: 0.4s;
  }

  .slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
}

#checkbox_toggle {
  display: none;
}

.check:checked + .checkbox .slide .toggle {
  transform: translateX(100%);
}

