.checkbox {
  width: 120px;
  height: 24px;
  background-color: white;
  border-radius: 9px;
  position: relative;
  overflow: hidden;
  border: solid 1px gray;

  .toggle {
    width: 60px;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    cursor: pointer;
    background: #5d98bc;
    transition: 0.4s;
  }

  .slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
}

#checkbox_toggle {
  display: none;
}

.check:checked + .checkbox .slide .toggle {
  transform: translateX(100%);
}

.check:checked + .text {
  color: red;
}
